.card .box {
    background-color: #edefee;
    border-radius: 10px;
}

.card .text {
    padding: 30px;
}

.card h4 {
    font-family: "Markazi Text";
    font-size: 1.5rem;
    font-weight: 500;
}

.card .price {
    color: #ee9972;
}

.card p {
    font-family: "Karla";
    padding: 10px 0;
    color: #333333;
}

.card button {
    margin-left: 30px;
    margin-bottom: 15px;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #f4ce14;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.card img {
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
