.specials button {
    border-radius: 10px;
    background-color: #f4ce14;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.specials h1 {
    font-family: "Markazi Text";
    font-size: 4rem;
    font-weight: 600;
}

.specials .grid2 {
    grid-template-columns: 3fr 1fr;
}

@media screen and (max-width: 950px) {
    .specials h1 {
        font-size: 3rem;
        font-weight: 500;
    }
}