header {
  background-color: #fff;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  position: sticky;
  top: 0;
  z-index: 999;
}

header nav {
  padding: 15px 0;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

header nav .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 15px 0;
  gap: 1em;
}

header nav li {
    list-style-type: none;
}

header nav img {
  width: 200px;
}

header nav .toggle {
  display: none;
}

header nav button {
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  background-color: #495e57;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  header nav {
    padding: 10px 0;
    grid-template-columns: 2fr 50px;
  }

  header nav .grid {
    display: none;
  }

  header nav .toggle {
    display: block;
    margin-top: 10px;
  }

  header nav .small {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    background-color: #495e57;
    padding: 20px;
  }

  header nav li a {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
  }
}
